.br{
    border-radius: 15px;
    border:1px solid #f5f6f8;
    background:#f5f6f8 ;
}
.br-top-left{
    border-radius: 25px 0 0 25px;
}
.bg-gray{
    background:#f5f6f8;

}
.circle{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #6c3bc2;
    display: inline-block;
}
.ft-gray{
    color:#adadac;
}
.bg-purple{
    background:#6c3ac2;
}
.w-90{
    width: 90%;
}
.flex-center{
    display:flex;
    justify-content: center;
    align-items: center;
}

.bg-white{
    background:white;
}
.bg-gray2{
    background: #e9ebed;
}
.box{
    width:40px;
    height: 40px;
    border-radius:5px;
    box-shadow: 2px 2px 2px #cdd1d8;
    border:1px solid #cdd1d8;
    position: relative;
}
.abs-center{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    top:20%;
    text-align: center;
}
.brown-box{
    background: rgb(249,190,122);
    background: linear-gradient(90deg, rgba(249,190,122,1) 60%, rgba(253,225,170,1) 100%);
    
}
.abs-left{
    position: absolute;
    top:10%;
    right:20%;
}
.z-index-1{
    position: relative;
    z-index: 1;
}
.txt-black{
    color:black;
}
.txt-black:hover{
    color: black;
}

.brown{
    background: #ffb396 ;
}
.h-20{
    height: 20%;
}
.w-20{
    width: 20%;
}
.w-80{
    width: 80%;
}
.bg-orange{
    background-color: #f9c181;
}
.ft-big{
    font-size: 24px;
}

@media screen and (max-width: 1024px){
.img-chat{
    margin-left: 0 !important;
}
.dashboard h5{
    font-size:.7rem;
}
.dashboard .circle{
    display: none;
}
/* .abs-left{
    position: static;
} */

    
}